/* Custom styles here */
body {
    background-color: #231f20; /* Dark Mahogany Brown */
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Style for the login container */
#login-wrapper {
    right: 0;
    top: 0;
    position: absolute;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: #fff; /* Background color for the container */
    padding: 10px; /* Add padding for content inside the container */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow for a nice effect */
}

/* Style for form labels and text */
label, input {
    display: block;
}

/* Style for the buttons */
.btn {
    background-color: #777; /* Gray background color */
    color: white; /* Text color */
}

/* Add spacing between form elements */
.form-control, .btn {
    margin-top: 5px;
}

/* Add padding to the form container */
#login-container {
    padding: 15px;
}


header {
    background-color: #fec23e; /* Mellow Yellow */
    padding: 20px 0;
    text-align: center;
}

.container {
    padding: 20px;
}

.tanning-forecast-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.beach-image {
    max-width: 100%;
    height: auto;
}

.score-box {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
}

/* Score color gradient */
.score-1 { background-color: #FF0000; }
.score-2 { background-color: #FF3300; }
.score-3 { background-color: #FF6600; }
.score-4 { background-color: #FF9900; }
.score-5 { background-color: #FFCC00; }
.score-6 { background-color: #FFFF00; }
.score-7 { background-color: #CCFF00; }
.score-8 { background-color: #99FF00; }
.score-9 { background-color: #66FF00; }
.score-10 { background-color: #00FF00; }

#login-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 5px;
}

#login-form input {
    margin-bottom: 10px;
    padding: 5px;
}

#login-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #0056b3;
}




